header {
    position: static;
    top: 0;
    z-index: 1000;
    background: #ffffff3d;
    padding: 10px;
}

a {
    text-decoration: none; /*удалить нижнее подчеркивание у ссылок*/
    color: #000000; /*цвет гиперссылки*/
}

a:hover {
    color: #3f3f3f; /*цвет гиперссылки при наведении*/
}

.element {
    margin: 20px; 
}
select {
    border: 1px solid #fff;
    background-color: transparent;
}
select option{
    background-color: transparent !important;
  border: 1px solid #e4e4e4;
  color: #000;
}
